<!-- <div class="sign-inup">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5">
              <div class="sign-form">
                  <div class="sign-inner">
                      <div class="sign-logo" id="logo">
                        <a ><img src="assets/logo.png" alt="" ></a>
                        <a ><img class="logo-inverse" src="assets/logo.png" alt=""></a>
                      </div>

                      <div class="form-dt">
                          <div class="form-inpts checout-address-step">

                              <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" >
                                  <div class="form-title">
                                      <h6>S'inscrire</h6>
                                  </div>

                                  <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

                                  <div class="form-group pos_rel">
                                      <input id="nom" name="nom" type="text" placeholder="Votre Nom" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && email.errors }" formControlName="nom">
                                      <i class="uil uil-user-circle lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !nom.valid  ">
                                      <p style="color:red" [hidden]="!nom.errors.required">
                                          Nom est obligatoire
                                      </p>
                                  </div>

                                  <div class="form-group pos_rel">
                                      <input id="prenom" name="prenom" type="text" placeholder="Votre Prenom" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && email.errors }" formControlName="prenom">
                                      <i class="uil uil-user-circle lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !prenom.valid  ">
                                      <p style="color:red" [hidden]="!prenom.errors.required">
                                          Prénom est obligatoire
                                      </p>
                                  </div>



                                  <div class="form-group pos_rel">
                                      <input id="tel" name="tel" type="text" placeholder="Numéro de téléphone" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && email.errors }" formControlName="tel">
                                      <i class="uil uil-mobile-android-alt lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !tel.valid  ">
                                      <p style="color:red" [hidden]="!tel.errors.required">
                                        Téléphone est obligatoire
                                      </p>
                                  </div>

                                  <div class="form-group pos_rel">
                                      <input id="email" name="email" type="email" placeholder="Adresse email" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && email.errors }" formControlName="email">
                                      <i class="uil uil-envelope lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !email.valid  ">
                                      <p style="color:red" [hidden]="!email.errors.required">
                                          Email est obligatoire
                                      </p>
                                      <p style="color:red" [hidden]="!email.errors.email">
                                          adresse e-mail non valide
                                      </p>
                                  </div>

                                  <div class="form-group pos_rel">
                                      <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && password.errors }" formControlName="password">
                                      <i class="uil uil-padlock lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !password.valid  ">
                                      <p style="color:red" [hidden]="!password.errors.required">
                                          Mot de passe est obligatoire
                                      </p>
                                      <p style="color:red" [hidden]="!password.errors.minlength">
                                          Le mot de passe doit comporter au moins 6 caractères
                                      </p>
                                  </div>

                                  <div class="form-group pos_rel">
                                      <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmer le mot de passe" class="form-control lgn_input" [ngClass]="{ 'is-invalid': submitted && confirmPassword.errors }" formControlName="confirmPassword">
                                      <i class="uil uil-padlock lgn_icon"></i>
                                  </div>
                                  <div *ngIf="submitted && !confirmPassword.valid  ">
                                      <p style="color:red" [hidden]="!confirmPassword.errors.required">
                                          Confirmer mot de passe est obligatoire
                                      </p>
                                      <p style="color:red" [hidden]="!confirmPassword.errors.minlength">
                                          Confirmer mot de passe doit comporter au moins 6 caractères
                                      </p>
                                      <p style="color:red" [hidden]="!confirmPassword.errors.confirmedValidator">
                                          Confirmer mot de passe et le mot de passe de confirmation doivent correspondre
                                      </p>
                                  </div>

                                  <div class="form-group-lg" style="margin-bottom:5px; ">
                                      <p style="margin-bottom:5px;color:black ">Certificat scolarité: </p>
                                      <input type="file" (change)="handleImage($event.target.files)" accept=".jpeg,.png,.jpg,.pdf" formControlName="files" [ngClass]="{ 'is-invalid': submitted && files.errors }">

                                  </div>
                                  <div *ngIf="submitted && !files.valid  ">
                                      <p style="color:red" [hidden]="!files.errors.required">
                                          Certificat scolarité est obligatoire
                                      </p>
                                  </div>


                                  <div class="form-group form-check">
                                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && acceptTerms.errors }" />
                                    <label for="acceptTerms" class="form-check-label">Accept Terms & ConditionsIt is a long established fact that a reader will be
                                      distracted by the readable content of a page when looking at its layout</label>
                                  </div>
                                  <div *ngIf="submitted && !acceptTerms.valid  ">
                                    <p style="color:red" [hidden]="!acceptTerms.errors.required">
                                      Accepter les règles nécessaire
                                    </p>
                                </div>



                                  <button class="login-btn hover-btn" type="submit">S'inscrire</button>
                              </form>
                          </div>
                          <div class="signup-link">
                              <p>J'ai un compte? - <a routerLink="/">Se connecter</a></p>
                          </div>
                      </div>
                  </div>
              </div>
              <app-mini-footer></app-mini-footer>
          </div>
      </div>
  </div>
</div> -->
