<!-- Footer Start -->
<footer class="footer ">
    <div class="footer-first-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="call-email-alt">
                        <li><a href="tel:0427460620"  class="callemail"><i class="uil uil-dialpad-alt"></i>04-27-46-06-20</a></li>
                        <li><a href="mailto:contact@boucheries-andre.fr" class="callemail"><i class="uil uil-envelope-alt"></i>contact@boucheries-andre.fr</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="social-links-footer">
                        <ul>
                           <li><a href="https://www.instagram.com/boucheries_andre/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
                            <li><a href="https://www.facebook.com/boucheries.andre" target="_blank" ><i class="fab fa-facebook-f fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-last-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-links">
                        <ul>
                            <li><a routerLink="/a-propos" >À propos de nous</a></li>
                            <li><a routerLink="/contact" >Contact</a></li>
                            <li><a routerLink="/politique-confidentialite" >Politique de confidentialité</a></li>
                            <li><a routerLink="/terme-condition" >Conditions Générales d'Utilisation</a></li>

                        </ul>
                    </div>
                    <div class="copyright-text">
                        <i class="uil uil-copyright"></i>Copyright 2021 &lt;&lt;<span>{{version}}</span>&gt;&gt;&nbsp;<b>La B.A.S.E.</b> Tous droits réservés
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
