<app-wainting-header *ngIf="this.isUser.satutcompte !='valider'"></app-wainting-header>
<app-header *ngIf="this.isUser.satutcompte =='valider'"></app-header>

<div class="wrapper">
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngIf="this.isUser.satutcompte =='valider'"><a routerLink="/home"
                  style="color: black !important;">Accueil</a></li>
              <li class="breadcrumb-item" *ngIf="this.isUser.satutcompte =='attente'"><a routerLink="/waiting-Page"
                  style="color: black !important;">Accueil</a></li>
              <li class="breadcrumb-item" *ngIf="this.isUser.satutcompte =='renouvellement'"><a
                  routerLink="/renewing-Page" style="color: black !important;">Accueil</a></li>
              <li class="breadcrumb-item active" aria-current="page">A propos de nous</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="default-dt">
    <div class="container">
      <div class="row">
        <div style="text-align: center; color: white;">
          <h2>POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="life-gambo">
    <div class="blog-single-dts-text">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="bb-des12">
              <div class="all-comment">

                <div class="cmmnt_item">
                  <p class="rvds10">
                    Date d’actualisation et de dernière mise à jour de la présente Charte : 23/08/2021
                  </p>
                  <h3>I. Les engagements Boucheries André en matière de protection de vos données personnelles</h3>
                  <p class="rvds10">La présente politique décrit la manière dont Boucheries André traite vos données à caractère
                    personnel dans le respect de vos droits lors de votre navigation sur la Progressive Web App (PWA) La
                    BASE (accessible à l’adresse : <a href="https://labase-ba.fr/" target="_blank">labase-ba.fr</a>) .
                    Ainsi, nous nous engageons à :
                    <br>– vous fournir une information claire et transparente sur la manière dont vos données
                    personnelles seront collectées et traitées ;
                    <br>– mettre en place toutes les mesures techniques et organisationnelles nécessaires pour protéger
                    vos données personnelles contre la divulgation, la perte, l’altération ou l’accès par un tiers non
                    autorisé ;
                    <br>– conserver vos données personnelles uniquement le temps nécessaire aux fins du traitement ou du
                    service déterminé ;
                    <br>– vous offrir à tout moment la possibilité d’accéder et de modifier vos données personnelles.
                  </p>

                  <h3>II. Les données personnelles</h3>
                  <h4>1. Quelles données collectons-nous ?</h4>
                  <p class="rvds10">Lors de votre navigation sur la PWA La BASE, et afin de pouvoir vous offrir les services proposés sur celui-ci, nous pouvons être amenés à collecter des données personnelles.</p>
                  <p class="rvds10">Par « données à caractère personnel », il y a lieu d’entendre toutes les données qui permettent de vous identifier directement ou indirectement (par regroupement d’informations) telles que : nom, prénom, pseudonyme, date de naissance, photographie, adresses postales et de courrier électronique, numéros de téléphone…</p>
                  <p class="rvds10">Toutes les données concernant les Utilisateurs sont collectées directement auprès de ces derniers.</p>
                  <p class="rvds10">Boucheries André s’engage à recueillir le consentement de ses Utilisateurs et/ou à leur permettre de s’opposer à l’utilisation de leurs données pour certaines finalités, dès que cela est nécessaire.</p>
                  <p class="rvds10">Ainsi, avant chaque collecte de données à caractère personnel, nous recueillons votre consentement par le biais d’un formulaire à compléter et d’une case à cocher après avoir pris connaissance de la présente Charte de protection des données.</p>
                  <p class="rvds10">Avec votre consentement préalable, et lorsque vous utilisez nos supports, nous sommes susceptibles de collecter et de traiter tout ou partie des données suivantes :</p>
                  •	prénom et nom de famille
                  <br>•	adresse de courrier électronique
                  <br>•	numéro de téléphone
                  <br>•	adresse postale
                  <br>•	âge/date de naissance
                  <br>•	certificat de scolarité
                  <br><br>
                  <h4>2. Pourquoi les collectons-nous ?</h4>
                  <p class="rvds10" style="text-decoration: underline;">Nécessités de la collecte :</p>
<p class="rvds10">Lors de l’inscription à la PWA La BASE, l’utilisateur communique certaines Données Personnelles.</p>
<p class="rvds10">Si vous ne souhaitez pas communiquer les informations qui vous sont demandées, Boucheries André ne pourra donner suite à votre demande.</p>
<p class="rvds10" style="text-decoration: underline;">Finalités de la collecte :</p>
<p class="rvds10">Vos données à caractère personnel sont collectées pour répondre à une ou plusieurs finalités:</p>
-	Gérer votre compte La BASE et vous garantir l’accès à ce service réservé aux étudiants
<br>-	Gérer vos abonnements et vos désabonnements aux newsletters et aux enquêtes de satisfaction ;
<br>-	Élaborer  des statistiques commerciales, des études de marché, dans le but notamment d’améliorer nos produits et de répondre au mieux à vos attentes en vous proposant des produits adaptés à vos besoins ;
<br>-	Gérer vos demandes de droit d’accès, de rectification, d’opposition de vos données 
<br>-	Conserver vos données dans des documents légaux en conformité avec les normes comptables, pour la durée légale nécessaire, en vue de répondre aux sollicitations des administrations fiscales et organismes sociaux si besoin ;
<p class="rvds10">Nous nous engageons à collecter vos données en nous limitant aux données strictement nécessaires à la finalité du traitement envisagé, afin de pouvoir traiter vos demandes et vous offrir les services proposés sur notre site Internet.</p>
<br>
<h4>3. La non communication des données personnelles</h4>
<p class="rvds10" style="font-weight: bold;">Les Données Personnelles de l’Utilisateur ne seront pas transmises à des acteurs commerciaux ou publicitaires.</p>
<p class="rvds10">Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de Boucheries André et des sous-traitants (prestataires de services), dans le respect absolu du principe énoncé ci-dessus, exclusivement afin de réaliser les finalités de la présente politique.</p>
<p class="rvds10">Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de Boucheries André sont principalement les membres de notre service marketing-communication.</p>
<br>
<h4>4. Durée de conservation des données personnelles</h4>
<p class="rvds10">Nous conservons vos données uniquement le temps nécessaire pour les finalités poursuivies, conformément aux prescriptions légales.</p>
<p class="rvds10">Vos droits concernant vos données personnelles :</p>
<p class="rvds10">Chaque fois que Boucheries André traite des Données Personnelles, Boucheries André prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles Boucheries André les traite.</p>
<p class="rvds10">Conformément à la réglementation européenne en vigueur, les Utilisateurs de Boucheries André disposent des droits suivants :</p>
– droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs
<br>– droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite <a href="https://www.legifrance.gouv.fr/affichTexteArticle.do;jsessionid=F99FCEDCD62590E5C611B9152B030E99.tplgfr21s_2?idArticle=LEGIARTI000033219719&cidTexte=LEGITEXT000006068624&dateTexte=20180207" target="_blank">(en savoir plus)</a>
<br>– droit de retirer à tout moment un consentement (article 13-2c RGPD)
<br>– droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
<br>– droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD) <a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank">(en savoir plus)</a>
<br>– droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)

<br><br>
<h3>III. Sécurité et Responsable de traitement des données personnelles</h3>
<h4>1. Sécurité</h4>
<p class="rvds10">Nous mettons en œuvre toutes les mesures techniques et organisationnelles afin d’assurer la sécurité des traitements de données à caractère personnel et la confidentialité de Données Personnelles.</p>
<p class="rvds10">A ce titre, nous prenons toutes les précautions utiles, au regard de la nature des données et des risques présentés par le traitement, afin de préserver la sécurité des données et, notamment d’empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès (protection physique des locaux, procédés d’authentification avec accès personnel et sécurisé via des identifiants et mots de passe confidentiels…)</p>
<p class="rvds10" style="font-weight: bold;">Informations personnelles et mineurs</p>
<p class="rvds10">En principe, le site s’adresse à des personnes majeures capables de contracter des obligations conformément à la législation du pays dans lequel se trouve l’Utilisateur.</p>
<p class="rvds10">L’Utilisateur mineur de moins de 16 ans ou incapable doit obtenir le consentement préalable de son responsable légal préalablement à la saisie de ses données sur le Site. Sauf obligation légale de confidentialité, Boucheries André pourra directement informer ce responsable des catégories spécifiques de Données Personnelles recueillies auprès de la personne mineure de la possibilité de s’opposer à la collecte, l’utilisation ou la conservation de celles-ci.</p>
<p class="rvds10">L’âge de 16 ans peut être abaissé jusqu’à 13 ans en fonction de la réglementation locale de la résidence habituelle de l’Utilisateur, en vertu de l’article 8 du RGPD.</p>
<br>
<h4>2. Responsable du traitement des données personnelles</h4>
<p class="rvds10">Le responsable du traitement des Données Personnelles est la société Boucheries André, Société par Actions Simplifiée au capital de 80 000€, immatriculée au RCS de Lyon sous le numéro 332 522 341 et dont le siège social est situé 2 Avenue du Loup Pendu 69140 Rillieux-la-Pape (N° TVA intracommunautaire: FR23332522341) </p>
<p class="rvds10">Qu’elle soit responsable de traitement ou sous-traitant, Boucheries André prend les mesures propres à assurer la protection et la confidentialité des informations nominatives qu’elle détient ou qu’elle traite dans le respect des dispositions de la LIL et du RGPD.</p>
<p class="rvds10">Si l’Utilisateur a des questions ou des réclamations concernant le respect par Boucheries André de la présente Politique, ou si l’Utilisateur souhaite faire part à Boucheries André de recommandations ou des commentaires visant à améliorer la qualité de la présente politique, l’Utilisateur peut contacter Boucheries André par écrit à l’adresse suivante :</p>
<p class="rvds10" style="font-weight: bold;">Boucheries André
<br>DPO
<br>2 avenue du Loup Pendu 69140 Rillieux-la-Pape</p>
<p class="rvds10"></p>Ou par e-mail à l’adresse : dpo.ba@boucheries-andre.fr
<p class="rvds10"></p>Enfin, les Utilisateurs de Boucheries André peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).
<p class="rvds10">Nous nous réservons le droit de modifier la présente Charte, à tout moment, en tout ou partie compte tenu des modifications et évolutions de nos usages et procédures internes. Ces dernières veilleront à être toujours en conformité avec les éventuelles modifications des dispositions législatives et réglementaires françaises et européennes. Nous vous invitons à consulter régulièrement cette Charte, avant toute collecte de vos données, pour une meilleure connaissance et compréhension de l’utilisation de vos données à caractère personnel. Nous pourrons être amenés à vous demander, à intervalle régulier, de valider votre connaissance de la présente charte.</p>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>