<!-- Footer Start -->
<footer class="footer">
  <div class="footer-last-row">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="footer-bottom-links">
                      <ul>
                          <li><a routerLink="/a-propos" >À propos de nous</a></li>
                          <li><a routerLink="/contact" >Contact</a></li>
                          <li><a routerLink="/politique-confidentialite" >Politique de confidentialité</a></li>
                          <li><a routerLink="/terme-condition" >Terme & Conditions</a></li>

                      </ul>
                  </div>
                  <div class="copyright-text">
                      <i class="uil uil-copyright"></i>Copyright 2020 <b>La BASE</b>. Tous droits réservés
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer End -->
